<%= form_for @user, url: create_session_path, html: {class: 'landing-login-form'} do |f| %>
  <div class="form-group" id="landing-login-field" >
    <i class="glyphicon glyphicon-user form-icon"></i>
    <%= f.text_field :username, class: 'form-control', id: "login-field", placeholder: I18n.t('landing.user') %>
  </div>
  <div class= "form-group" id="landing-login-field">
    <i class="glyphicon glyphicon-lock form-icon"></i>
    <%= f.password_field :password, class: 'form-control', id: "login-field", placeholder: I18n.t('landing.password') %>
  </div><br/>
  <div class="submit-button-holder" id="landing-login-field">
    <%= f.submit t('landing.login'), class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
<div class="submit-button-holder" id="landing-login-field">
  <a href="/auth/facebook" class="btn btn-lg btn-primary facebook-login">
    <img class="fb-logo visible-lg" src="https://raw.githubusercontent.com/nyc-dragonflies-2015/Speak-It/master/app/assets/images/fb.png"/> <%= t('landing.fb_login') %>
  </a>
</div>
