<%= form_for @user, url: create_session_path, class: 'form-horizontal' do |f| %>
  <div class="form-group" >
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  <div class= "form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit "Login", class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
