<%= form_for @user, url: create_session_path, html: {class: 'landing-login-form'} do |f| %>
  <div class="form-group" id="landing-login-field" >
    <i class="glyphicon glyphicon-user form-icon"></i>
    <%= f.text_field :username, class: 'form-control', id: "login-field", placeholder: I18n.t('landing.user') %>
  </div>
  <div class= "form-group" id="landing-login-field">
    <i class="glyphicon glyphicon-lock form-icon"></i>
    <%= f.password_field :password, class: 'form-control', id: "login-field", placeholder: I18n.t('landing.password') %>
  </div><br/>
  <div class="submit-button-holder" id="landing-login-field">
    <%= f.submit t('landing.login'), class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
<div class="submit-button-holder" id="landing-login-field">
  <a href="/auth/facebook" class="btn btn-lg btn-primary facebook-login">
    <img class="fb-logo visible-lg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAMAAABhTZc9AAAAVFBMVEU7V507V507V507V507V507V507V508WJ0+Wp9GYKNHYaNNZ6dfd7CXpsucqs6grdCuuti8xd7Y3uvc4u7f5O/m6vPs7/b29/r4+fv6+/38/P3///8xOJ4cAAAABnRSTlMAAXN78/T3qSKZAAAAaklEQVR42t3OOQ6AMAxEUcfgAGFfwub735OIiiIZCUp++zTSkOHcxsuZiG06JgEqZFFvtWqnXTcf18brXVTdqkB7RboEGFzq1Rm0Tn7WUAHVflB9dJRIZ7gdoXb41V9VgAplQDMyLAkVpgvexB8yF+Ap8gAAAABJRU5ErkJggg=="/> <%= t('landing.fb_login') %>
  </a>
</div>
