<%= form_for @user, url: create_session_path, class: 'form-horizontal' do |f| %>
  <div class="form-group" >
    <i class="glyphicon glyphicon-user form-icon"></i>
    <%= f.text_field :username, class: 'form-control', id: "login-field", placeholder: I18n.t('landing.user') %>
  </div>
  <div class= "form-group">
    <i class="glyphicon glyphicon-lock form-icon"></i>
    <%= f.password_field :password, class: 'form-control', id: "login-field", placeholder: I18n.t('landing.password') %>
  </div><br/>
  <div class="submit-button-holder">
    <%= f.submit t('landing.login'), class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
<div class="submit-button-holder">
  <%= link_to 'Login with Facebook', "/auth/facebook", class: 'btn btn-lg btn-primary facebook-login' %>
</div>
