<h1>Signup</h1>
<% if flash[:notice] %>
  <p> <%= flash[:notice] %> </p>
<% end %>
<div class = "container">
<%= form_for @user, url: users_path, class: 'form-horizontal' do |f| %>
  <div class="form-group" >
    <%= f.label :username, class: 'row' %>
    <div class= "row">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.label :password, class: 'row' %>
    <div class= "row">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.label :email, class: 'row' %>
    <div class= "row">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.hidden_field :level_id, value: 1 %>
  </div>
  <div>
    <%= f.submit "Submit", class: 'btn' %>
  </div>
 <% end %>
 </div>
