<div class="new_user_signup">
  <h1 class="form-title"><b>
    <%= t('signup.signup') %></b>
    <span>
      <img class="message-box-logo" src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo.png"/>
    </span>
    <span class="new-user-subtitle"><br/>Practice your language skills with native speakers.</span>
  </h1>

  <div class="container-fluid">
    <%= form_for @user, url: users_path, class: 'form-horizontal' do |f| %>
      <div class="row" id="new_user_first_panel">
        <div class="col-xs-12 visible-xs" id="new_user_sidebar">

        <!-- <div class="col-md-4" id="new_user_sidebar"> -->
          <h1>Create your Personal Account</h1>
          <p>By providing your mother tongue and the language you would like to learn, SpeakIt will pair you with native speakers to practice your language skills.</p>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <div class="row non-select">
              <i class="glyphicon glyphicon-user registration-icon"></i>
              <%= f.text_field :username, class: 'form-control', placeholder: t('signup.user') %>
            </div>
          </div>

          <div class= "form-group">
            <div class= "row non-select">
              <i class="glyphicon glyphicon-lock registration-icon"></i>
              <%= f.password_field :password, class: 'form-control', placeholder: t('signup.password') %>
            </div>
          </div>

          <div class= "form-group">
            <div class= "row non-select">
              <i class="glyphicon glyphicon-envelope registration-icon"></i>
              <%= f.email_field :email, class: 'form-control', placeholder: t('signup.email') %>
            </div>
          </div><br/>
        </div>
        <div class="col-sm-4 hidden-xs" id="new_user_sidebar">

        <!-- <div class="col-md-4" id="new_user_sidebar"> -->
          <h1>Create your Personal Account</h1>
          <p>By providing your mother tongue and the language you would like to learn, SpeakIt will pair you with native speakers to practice your language skills.</p>
        </div>
        <br/>
      </div>


      <div class="row" id="new_user_languages">
        <div class="col-md-6">
          <div class="form-group">
            <div class="container" id="first_panel_container" style="clear: both;">
              <%= f.label t('signup.native_language'), class: 'col-sm-2 col-sm-offset-1' %>
              <%= f.select(:native_language_id, options_for_select(@languages_select_array), {},{class: "form-control col-xs-3", id: "select-box", onChange: "createFlag(this);"}) %>
              <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/english.jpg" class="image-box col-xs-5"></img>
            </div>
          </div>

          <div class="form-group">
            <div class="container" id="first_panel_container" style="clear: both;">
              <%= f.label t('signup.study_language'), class: 'col-sm-2 col-sm-offset-1' %>
              <%= f.select(:study_language_id, options_for_select(@languages_select_array), {}, {class: "form-control col-xs-3",  id: "select-box", onChange: "createFlag(this);"}) %>
              <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/english.jpg" class="image-box col-xs-5"></img>
            </div>
          </div>

          <div class="form-group">
            <div class="container" id="first_panel_container" style="clear: both;">
              <%= f.label t('signup.country'), class: 'col-sm-2 col-sm-offset-1' %>
              <%= f.select(:country_id, options_for_select(@countries_select_array), {}, {class: "form-control col-xs-3", id: "select-box", onChange: "createFlagForCountry(this);"}) %>
              <img src="<%= asset_path("argentinian-flag-medium.png") %>" class="image-box col-xs-5"></img>
            </div>
          </div>

          <div class="form-group">
            <div class="container last-field" id="first_panel_container" style="clear: both;">
              <%= f.label :avatar_url, value: t('signup.avatar'), class: 'col-sm-2 col-sm-offset-1' %>
              <%= react_component("AvatarGrabber", {text: t('signup.avatar_grabber')}.to_json) %>
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <%= f.hidden_field :avatar_url, value: "https://i1.wp.com/design.atlassian.com/1.4/images/avatars/default-user/192/user-avatar-blue-96%402x.png?ssl=1", id: "hidden-avatar-field" %>
      <%= f.hidden_field :level, value: 1 %>
      <div id="new_user_submit" class="row">
        <div class="col-xs-6 col-xs-offset-2 submit-holder">
          <%= f.submit t('signup.submit'), class: 'btn btn-lg btn-primary form-control', id: 'form-button' %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="new_user_footer">
  </div>
</div>

<script>
  var countries = [
    {name: "United States", image_url: '<%= ActionController::Base.helpers.asset_path("american-flag-medium.png") %>'},
    {name: "Canada", image_url: '<%= ActionController::Base.helpers.asset_path("canadian-flag-medium.png") %>'},
    {name: "Mexico", image_url: '<%= ActionController::Base.helpers.asset_path("mexican-flag-medium.png") %>'},
    {name: "Spain", image_url: '<%= ActionController::Base.helpers.asset_path("spanish-flag-medium.png") %>'},
    {name: "Argentina", image_url: '<%= ActionController::Base.helpers.asset_path("argentinian-flag-medium.png") %>'},
    {name: "Columbia", image_url:  '<%= ActionController::Base.helpers.asset_path("colombian-flag-medium.png") %>'},
    {name: "Peru", image_url: '<%= ActionController::Base.helpers.asset_path("peruvian-flag-medium.png") %>' },
    {name: "United Kingdom", image_url: '<%= ActionController::Base.helpers.asset_path("british-flag-medium.png") %>'},
    {name: "Venezuela", image_url: '<%= ActionController::Base.helpers.asset_path("venezuelan-flag-medium.png") %>'},
    {name: "Ecuador", image_url: '<%= ActionController::Base.helpers.asset_path("ecuadorian-flag-medium.png") %>'},
    {name: "Cuba", image_url: '<%= ActionController::Base.helpers.asset_path("cuban-flag-medium.png") %>'},
    {name: "Uruguay", image_url: '<%= ActionController::Base.helpers.asset_path("uruguayan-flag-medium.png") %>'},
    {name: "Costa Rica", image_url: '<%= ActionController::Base.helpers.asset_path("costa-rican-flag-medium.png") %>'},
    {name: "Guatemala", image_url: '<%= ActionController::Base.helpers.asset_path("guatemalan-flag-medium.png") %>'},
    {name: "Panama", image_url: '<%= ActionController::Base.helpers.asset_path("panamanian-flag-medium.png") %>'},
    {name: "Chile", image_url: '<%= ActionController::Base.helpers.asset_path("chilean-flag-medium.png") %>'},
    {name: "Dominican Republic", image_url: '<%= ActionController::Base.helpers.asset_path("dominican-republic-flag-medium.png") %>'},
    {name: "China", image_url: '<%= ActionController::Base.helpers.asset_path("chinese-flag-medium.png") %>'},
    {name: "Malaysia", image_url: '<%= ActionController::Base.helpers.asset_path("malaysia-flag-medium.png") %>'},
    {name: "Taiwan", image_url: '<%= ActionController::Base.helpers.asset_path("taiwan-flag-medium.jpg") %>'}
  ];
  var createFlagForCountry = function(e) {
    var value = parseInt($(e)[0].value);
    var selectedCountry = countries[value -1];
    $(e).next()[0].src = selectedCountry.image_url;
  };

</script>
