<div class="new_user_signup">
  <h1 class="form-title">Sign Up <span><img class="message-box-logo hidden-sm hidden-xs" src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo.png"</span></h1>
  <div class="container">
    <%= form_for @user, url: users_path, class: 'form-horizontal' do |f| %>

      <div class="form-group">
        <div class="row non-select">
          <i class="glyphicon glyphicon-user registration-icon"></i>
          <%= f.text_field :username, class: 'form-control', placeholder: "username" %>
        </div>
      </div>

      <div class= "form-group">
        <div class= "row non-select">
          <i class="glyphicon glyphicon-lock registration-icon"></i>
          <%= f.password_field :password, class: 'form-control', placeholder: "password" %>
        </div>
      </div>

      <div class= "form-group">
        <div class= "row non-select">
          <i class="glyphicon glyphicon-envelope registration-icon"></i>
          <%= f.email_field :email, class: 'form-control', placeholder: "email" %>
        </div>
      </div><br/>

      <div class="form-group row">
        <div class="non-select">
          <%= f.label :native_language %>
        </div>
        <div class="container">
          <%= f.select(:native_language_id, options_for_select(@languages_select_array), {},{class: "form-control col-xs-6", id: "select-box", onChange: "createFlag(this);"}) %>
          <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/english.jpg" class="image-box col-xs-6"></img>
        </div>
      </div>

      <div class="form-group row">
        <div class="non-select">
          <%= f.label :study_language %>
        </div>
        <div class="container">
          <%= f.select(:study_language_id, options_for_select(@languages_select_array), {}, {class: "form-control col-xs-6",  id: "select-box", onChange: "createFlag(this);"}) %>
          <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/english.jpg" class="image-box col-xs-6"></img>
        </div>
      </div>


      <div class="form-group row">
        <div class="non-select">
          <%= f.label :country %>
          <div class="container">
            <%= f.select(:country_id, options_for_select(@countries_select_array), {}, {class: "form-control col-xs-6", id: "select-box", onChange: "createFlagForCountry(this);"}) %>
            <img src="<%= asset_path("argentinian-flag-medium.png") %>" class="image-box col-xs-6"></img>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="non-select">
          <%= f.label :avatar_url, value: "Avatar" %>
          <%= react_component("AvatarGrabber") %>
        </div>
      </div>
      <%= f.hidden_field :avatar_url, value: "https://i1.wp.com/design.atlassian.com/1.4/images/avatars/default-user/192/user-avatar-blue-96%402x.png?ssl=1", id: "hidden-avatar-field" %>
      <%= f.hidden_field :level, value: 1 %>
      <div>
        <%= f.submit "Submit", class: 'btn btn-lg btn-primary form-control', id: 'form-button' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  var countries = [
    {name: "United States", image_url: '<%= ActionController::Base.helpers.asset_path("american-flag-medium.png") %>'},
    {name: "Canada", image_url: '<%= ActionController::Base.helpers.asset_path("canadian-flag-medium.png") %>'},
    {name: "Mexico", image_url: '<%= ActionController::Base.helpers.asset_path("mexican-flag-medium.png") %>'},
    {name: "Spain", image_url: '<%= ActionController::Base.helpers.asset_path("spanish-flag-medium.png") %>'},
    {name: "Argentina", image_url: '<%= ActionController::Base.helpers.asset_path("argentinian-flag-medium.png") %>'},
    {name: "Columbia", image_url:  '<%= ActionController::Base.helpers.asset_path("colombian-flag-medium.png") %>'},
    {name: "Peru", image_url: '<%= ActionController::Base.helpers.asset_path("peruvian-flag-medium.png") %>' },
    {name: "United Kingdom", image_url: '<%= ActionController::Base.helpers.asset_path("british-flag-medium.png") %>'},
    {name: "Venezuela", image_url: '<%= ActionController::Base.helpers.asset_path("venezuelan-flag-medium.png") %>'},
    {name: "Ecuador", image_url: '<%= ActionController::Base.helpers.asset_path("ecuadorian-flag-medium.png") %>'},
    {name: "Cuba", image_url: '<%= ActionController::Base.helpers.asset_path("cuban-flag-medium.png") %>'},
    {name: "Uruguay", image_url: '<%= ActionController::Base.helpers.asset_path("uruguayan-flag-medium.png") %>'},
    {name: "Costa Rica", image_url: '<%= ActionController::Base.helpers.asset_path("costa-rican-flag-medium.png") %>'},
    {name: "Guatemala", image_url: '<%= ActionController::Base.helpers.asset_path("guatemalan-flag-medium.png") %>'},
    {name: "Panama", image_url: '<%= ActionController::Base.helpers.asset_path("panamanian-flag-medium.png") %>'},
    {name: "Chile", image_url: '<%= ActionController::Base.helpers.asset_path("chilean-flag-medium.png") %>'},
    {name: "Dominican Republic", image_url: '<%= ActionController::Base.helpers.asset_path("dominican-republic-flag-medium.png") %>'}
  ];
  var createFlagForCountry = function(e) {
    var value = parseInt($(e)[0].value);
    var selectedCountry = countries[value -1];
    $(e).next()[0].src = selectedCountry.image_url;
  };

</script>
