<h1 class="form-title">Signup</h1>
<% if flash[:notice] %>
  <p> <%= flash[:notice] %> </p>
<% end %>
<div class="container">
<%= form_for @user, url: users_path, class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <div class= "row non-select">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.label :password %>
    <div class= "row non-select">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.label :email, class: 'row' %>
    <div class= "row non-select">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :native_language %>
    <%= f.select(:native_language_id, options_for_select(@languages_select_array), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :study_language %>
    <%= f.select(:study_language_id, options_for_select(@languages_select_array), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.select(:country_id, options_for_select(@countries_select_array), {}, {class: "form-control"}) %>
  </div>
<!--   <div class="form-group">
    <%= f.hidden_field :level_id, value: 1 %>
  </div> -->
  <div>
    <%= f.submit "Submit", class: 'btn' %>
  </div>
 <% end %>
 </div>


 ˚<h1 class="form-title">Feedback</h1>

 <div class="container">
 <%= form_for "hello" do |f| %>
 <div class="form-group">
   <%= f.label :country %>
   <%= f.select(:country_id, options_for_select(@countries_select_array), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <div class="row non-select">
     <%= f.label :comment%>
    </div>
    <div class="row non-select">
     <%= f.text_area :comment%>
    </div>
 </div> 
   <%= f.submit "Submit Feedback", class: 'btn' %>
 <% end %>
 </div>




