<div id="main-container" class="container-fluid">
  <div id= "welcome-bar" class= "row">
    <div id= "login-col" class= "col-md-4">
      <div>
        <%= render partial: "sessions/form" %>
      </div>
    </div>

    <div id="speak-it-info" class="col-md-8">
      <h1 id="proxima-nova">SpeakIt <span><img class="message-box-logo hidden-sm hidden-xs" src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo.png"</span></h1>
      <p> <%= t('landing.title') %></p>
      <div class="flex-container col-xs-12 signup-button-holder">
        <%= link_to t('landing.signup'), new_user_path, class: 'btn btn-lg btn-primary col-sm-6 col-xs-12', id: "signup-button" %>
        <%= link_to 'Signup with Facebook', "/auth/facebook", class: 'btn btn-lg btn-primary facebook-login col-xs-6 hidden-xs', id: 'facebook-signup' %>
      </div>
    </div>
  </div>
  <div class="row" id="panel-2-holder">
    <div class="col-md-7" id="site-information">
      <h1> <%= t('landing.subtitle') %></h1>
      <p> <%= t('landing.subtitle_description') %></p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs" id="logo-container">
      <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo.png" class="message-logo first" alt="">
      <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo-orange.png" class="message-logo second" alt="">
      <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo-green.png" class="message-logo third" alt="">
      <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo-blue.png" class="message-logo fourth" alt="">
      <img src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo-dark-blue.png" class="message-logo fifth" alt="">
    </div>
  </div>
  <div id="interact" class="row">
    <h1 id="culture-quote"> <%= t('landing.second_subtitle') %></h1>
    <p> <%= t('landing.second_description') %></p>
  </div>
  <div id="meet-people" class="row">
    <h2 class="meet-people-title"> <%= t('landing.third_title') %><h2>
    <div class="col-sm-4" id="person-1">
    </div>
    <div class="col-sm-4" id="person-2">
    </div>
    <div class="col-sm-4" id="person-3">
    </div>
  </div>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1617390508536350',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
