<div>
  <ul id="notification-list" style="display: none">
    <% @active_invitations.each do |invitation| %>
      <li><p><%= invitation.sender.username %> <%= time_ago_in_words(invitation.created_at) %></p>
        <form method="post" action="/chat_rooms" id="create_chat_room">
          <input type="hidden" value="<%= invitation.id %>" name="invitation[id]"/>
          <input type="submit" value="Accept" class="btn btn-success"/>
        </form>
        <button class="btn btn-danger delete_invitation" data-id="<%= invitation.id %>">Decline</button>
      </li>
    <% end %>
  </ul>
</div>
<div>
	<img src= <%= @user.avatar_url %> alt="profile_pic">
	<h2> Hey <%= @user.username %> </h2>
	<p> <%= @user.points %> </p>
  <ul>
    <% if @recent_users  %>
      <% @recent_users.each do |user| %>
        <%= user.username %>
      <% end %>
    <% end %>
  </ul>
</div>
<script>
  $(function() {
    // listen for user click event to delete invitation
    deleteInvitation();
  });
</script>
