<div>
	<img src= <%= @user.avatar_url %> alt="profile_pic"> 
	<h2> Hey <%= @user.username %> </h2>
	<p> <%= @user.points %> </p>
	<p> <%= @user.level.name %> </p>
	<p> <%= @user.native_language %> </p>
	<p> <%= @user.study_language %> </p>
</div>