<div>
  <ul id="notification-list" style="display: none">
    <% @active_invitations.each do |invitation| %>
      <li><p><%= invitation.sender.username %> <%= time_ago_in_words(invitation.created_at) %></p>
        <form method="post" action="/chat_rooms" id="create_chat_room">
          <input type="hidden" value="<%= invitation.id %>" name="invitation[id]"/>
          <input type="submit" value="Accept" class="btn btn-success"/>
        </form>
        <button class="btn btn-danger delete_invitation" data-id="<%= invitation.id %>">Decline</button>
      </li>
    <% end %>
  </ul>
</div>
<div class="row">
  <div id= "avatar-container" class="col-md-3">
  	<img src= <%= @user.avatar_url %> alt="profile_pic">
  </div>
  <div id="profile-level-container" class="col-md-9">
    <div class= "row">
    	<h2 class = "col-md-6"> Hey <%= @user.username %> </h2>
      <div class = "col-md-6">
        <img src="<%= @user.country.image_url %>" alt="flag" id="language-flag">
      </div>
    </div>
    <div class = "row">
      <p> Your Level </p>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.levelpercent%>">
          <%= @user.level.value %>
        </div>
      </div>
      <p> Your Points </p>
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style= "width: <%= @user.points %>%" > <%= @user.points %>
        </div>
      </div>
    </div>
</div>
<script>
  $(function() {
    // listen for user click event to delete invitation
    deleteInvitation();
  });
</script>
