<div>
  <ul id="notification-list" style="display: none">
    <% @active_invitations.each do |invitation| %>
      <li><p><%= invitation.sender.username %> <%= time_ago_in_words(invitation.created_at) %></p>
      <form method="post" action="/chat_rooms" id="create_chat_room">
        <input type="hidden" value="<%= invitation.id %>" name="invitation[id]"/>
        <input type="submit" value="Accept" class="btn btn-success"/>
      </form>
      <button class="btn btn-danger delete_invitation" data-id="<%= invitation.id %>">Decline</button>
        <!-- <%= form_for invitation, url: create_chat_room_path, method: 'post' do |f| %>
          <%= f.hidden_field :id, value: invitation.id %>
          <%= f.submit "Accept", class: 'btn btn-success' %>
        <% end %>
        <%= form_for invitation, url: delete_invitation_path, method: 'delete' do |f| %>
          <%= f.hidden_field :id, value: invitation.id %>
          <%= f.submit "Decline", class: 'btn btn-danger' %>
        <% end %> -->
      </li>
    <% end %>
  </ul>
</div>
<div>
	<img src= <%= @user.avatar_url %> alt="profile_pic">
	<h2> Hey <%= @user.username %> </h2>
	<p> <%= @user.points %> </p>
</div>
<script>
  $(function() {
    deleteInvitation();
  });
</script>
