<div class="row" id="logged-in-row">
  <div id= "avatar-container" class="col-md-2 col-sm-3 col-xs-3">
  	<span>
      <div>
        <img src= <%= @user.avatar_url %> alt="profile_pic" class="avatar-image"/>
        <h2><%= @user.username.titleize %></h2>
      </div>
      <div>
        <div>
          <img src='<%= asset_path(@user.country.image_url) %>' alt="flag" id="language-flag" />
        </div>
        <span id="country_name">
          <%= t('countries.' + @user.country.name.split(" ").join("")) %>
        </span>
      </div>
    </span>
  </div>

  <div id="profile-level-container" class="col-md-6 col-sm-4">
    <div class = "row">
      <p class="level-text"> <%= t('logged_in.level') %></p>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.levelpercent%>">
          <%= @user.level.value %>
        </div>
      </div>
      <p class="level-text"> <%= t('logged_in.points') %> </p>
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style= "width: <%= @user.points %>%" > <%= @user.points %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-5">
    <div class="languages-holder">
      <h4><b> <%= t('logged_in.mother_tongue') %></b></h4>
      <div class="native-language-holder">
        <p><%= t('languages.' + @user.native_language.name) %></p>
        <img id="native-language-flag" class="language-flag" src='<%= asset_path("languages/#{@user.native_language.name.downcase}.png")%>'/>
      </div>
      <hr/>
      <h4><b><%= t('logged_in.study_language') %></b></h4>
      <div class="study-language-holder">
        <p><%= t('languages.' + @user.study_language.name) %></p>
        <img id="study-language-flag" class="language-flag" src='<%= asset_path("languages/#{@user.study_language.name.downcase}.png")%>'>
      </div>
    </div>
  </div>
</div>
<div class="tab-holder row"></div>

<script>
  // Set to recent tab
  $(function() {
    $('#recent-tab').click();
  });
</script>
