  <table id="available-table" class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Username</th>
        <th>Country</th>
        <th> Native Language</th>
        <th> Chat </th>
      </tr>
    </thead>
    <tbody>
      <% @available_users.each do |user| %>
        <tr>
          <td> <img src= <%= user.avatar_url %> alt="avatar" class="user-avatar"></td>
          <td> <%= user.username %></td>
          <td><%= user.country.try(:name) %></td>
          <td> <%= user.native_language.name %> </td>
          <td class="call-holder">
            <%= react_component("Invitation", {user: user, currentUser: current_user}.to_json, class: "invitation-form-holder") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table id="recent-table" class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Username</th>
        <th>Country</th>
        <th> Native Language</th>
        <th> Chat </th>
      </tr>
    </thead>
    <tbody>
      <% @available_recent_users.each do |user| %>
        <tr>
          <td> <img src= <%= user.avatar_url %> alt="avatar" class="user-avatar"></td>
          <td> <%= user.username %>  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
          <td><%= user.country.try(:name) %></td>
          <td> <%= user.native_language.name %> </td>
          <td>
            <%= form_for @invitation, url: create_invitation_path, method: 'post' do |f| %>
              <%= f.hidden_field :recipient_id, value: user.id %>
              <%= f.hidden_field :sender_id, value: current_user.id %>
              <%= f.submit "Speak!", class: 'btn btn-default new_invitation_submit' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% @unavailable_recent_users.each do |user| %>
        <tr>
          <td> <img src= <%= user.avatar_url %> alt="avatar" class="user-avatar"></td>
          <td> <%= user.username %>  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
          <td><%= user.country.try(:name) %></td>
          <td> <%= user.native_language.name %> </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <script>
  $(function() {
    // $('.new_invitation').on('submit', function(e) {
    //   e.preventDefault();
    //   var target = $(e.target);
    //   target.parent().find('.calling-component').toggleClass('hidden');
    //
    //   var recipientId = parseInt(target.find('#invitation_recipient_id').val());
    //   var senderId = parseInt(target.find('#invitation_sender_id').val());
    //   $.ajax({
    //     url: this.action,
    //     method: this.method,
    //     data: {invitation: {recipient_id: recipientId, sender_id: senderId}},
    //     dataType: "json"
    //   })
    //   .done(function(data) {
    //     console.log(data);
    //   })
    //   .fail(function(err) {
    //     console.log(err);
    //   });
    // });

    $('.notifications').on('click', function(e) {
      e.preventDefault();
      $('#notification-list').toggle();
    })
  });
  </script>
