  <table id="available-table" class="table table-striped">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Country</th>
        <th col-span="3">Chat</th>
      </tr>
    </thead>
    <tbody>
      <% @available_users.each do |user| %>
        <tr>
          <td> <img src= <%= user.avatar_url %> alt="avatar" class="user-avatar"></td>
          <td> <img src= <%= asset_path(user.country.image_url) %> alt="avatar" class="user-avatar"></td>
          <td class="call-holder" col-span="3">
            <%= react_component("Invitation", {user: user, currentUser: current_user, language: user.native_language}.to_json, class: "invitation-form-holder") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table id="recent-table" class="table table-striped">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Country</th>
        <th col-span="3">Chat</th>
      </tr>
    </thead>
    <tbody>
      <% @available_recent_users.each do |user| %>
        <tr>
          <td> <img src= <%= user.avatar_url %> alt="avatar" class="user-avatar"></td>
          <td> <img src= <%= asset_path(user.country.image_url) %> alt="avatar" class="user-avatar"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
          <td class="call-holder" col-span="3">
            <%= react_component("Invitation", {user: user, currentUser: current_user, language: user.native_language}.to_json, class: "invitation-form-holder") %>
          </td>
        </tr>
      <% end %>
      <% @unavailable_recent_users.each do |user| %>
        <tr>
          <td> <img src= <%= user.avatar_url %> alt="avatar" class="user-avatar"></td>
          <td> <img src= <%= asset_path(user.country.image_url) %> alt="avatar" class="user-avatar"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
          <td class="call-holder" col-span="3">
            <%= react_component("Invitation", {user: user, currentUser: current_user, language: user.native_language}.to_json, class: "invitation-form-holder") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
