<html>
  <head>
  </head>
  <body>
    <% if logged_in? %>
      <div class="container-fluid" id="logged-in-wrapper">
        <%= render partial: "welcome/profile" %>
        <%= render partial: "welcome/tabletab" %>
        <%= render partial: "welcome/river" %>
      </div>
      <%= render partial: "welcome/footer" %>
    <% else %>
      <%= render partial: "welcome/landingpage" %>
    <% end %>
  </body>
</html>
