<!DOCTYPE html>
<html>
<head>
  <title>SpeakIt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "welcome/navbar" %>

<% if flash[:notice]%>
  <% flash[:notice].each do |msg| %>
    <div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
      <%= msg %>
    </div>
  <% end %>
<% elsif flash[:alert] %>
  <% flash[:alert].each do |msg| %>
    <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<script src="//js.pusher.com/2.2/pusher.min.js"></script>

<%= yield %>

<script src="/assets/invitationButton.js"></script>

<script>
$(function() {
  removeFlash();
  var pusher = new Pusher('18cc5c3d4ea4757ca628');
  var channelName = 'private-conversation.' + '<%= current_user ? current_user.id.to_s : 'null' %>';
  var channel = pusher.subscribe(channelName);
  // bind to changes in the channel and use the returned data
  // channel.bind('new_invitation', function(data) {
  //   var senderId = data.invitation.sender_id;
  //   var recipientId = data.invitation.recipient_id;
  //   var username = data.username;
    // create a partial to append to the <ul> in the DOM
    // var partial = "";
    // partial += '<li><p>' + username + ': just now</p>' +
    //   '<div id="flex-container"><form method="post" action="/chat_rooms" id="create_chat_room">' +
    //     '<input type="hidden" value="'+ data.invitation.id + '" name="invitation[id]"/>' +
    //     '<input type="submit" value="Accept" class="btn btn-success"/>' +
    //   '</form>' +
    //   '<button class="btn btn-danger delete_invitation" data-id="' + data.invitation.id + '">Decline</button></div>' +
    // '</li>';
    // $('#notification-list').append(partial);
    // re-invoke event listener to delete invitation if user clicks 'decline'
    // deleteInvitation();
    // removeFlash();
  // });

  channel.bind('create_chat_room', function(data) {
    console.log(data);
    window.location = "/chat_rooms/" + data;
  });
});
</script>


</body>
</html>
